*{
    margin: 0;
    padding: 0
}
.search {
    width:40%;
    height:2.3rem;
    background-color: #444;
    border:none;
    padding:1rem;
    padding-right: 2rem;
    position: absolute;
    left:30.5%;
    color:#ccc;
    font-size: 0.7rem;
  }
  .searchButton {
    background-color: transparent;
    z-index: 100;
    position: absolute;
    top:18px;
    right:30%;
    padding: 0;
    font-size: 1.3rem;
    border: none;
    cursor:pointer
  }