* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(31, 31, 31);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(31, 31, 31);
}
.mainSection {
  width: 70%;
}
